@import 'config';
// Desktop-first styles
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body > div {
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: $space-mono;
  font-weight: 700;
  background-color: $light-grayish-cyan;
}
.overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75rem;
  &__heading {
    margin-bottom: 4rem;
    display: inline-block;
    width: 10rem;
    text-align: center;
    word-wrap: break-word;

    line-height: 4rem;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    color: $dark-grayish-cyan;
  }
  main {
    display: flex;
    background-color: $white;
    border-radius: 12px;
    height: 35rem;
    .main__first {
      padding: 1rem 2rem;
      display: flex;
      width: 50%;
      flex-direction: column;
      justify-content: space-around;
      &__container {
        &__btns-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          // gap: 1rem 5%;
          gap: 1rem 2rem;
          button {
            border: none;
            font-family: $space-mono;
            padding: 0.8rem 0;
            color: $very-light-grayish-cyan;
            background-color: $very-dark-cyan;
            border-radius: 3px;
          }
          .custom {
            background-color: $very-light-grayish-cyan;
            color: $dark-grayish-cyan;
            font-size: 1.2rem;
          }
        }
        &__label {
          display: block;

          color: $dark-grayish-cyan;
          font-size: 1.4rem;
          margin-bottom: 0.2rem;
        }
        input {
          width: 100%;
          outline: none;
          // outline: 1px solid red;
          border: none;
          background-color: $very-light-grayish-cyan;
          padding: 1rem;
          font-family: $space-mono;
        }
      }
    }
    .main__second {
      border-radius: 12px;
      margin: 1.8rem;
      padding: 2rem;
      width: 45%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $very-dark-cyan;
      &__container {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 5rem;
        color: $very-light-grayish-cyan;
        .tip-info-box {
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          p:nth-of-type(1) {
            font-size: 2rem;
          }
          p:nth-of-type(2) {
            color: $dark-grayish-cyan;
            font-size: 1.2rem;
          }
        }
        .tip-amount-and-total {
          height: 100%;
          font-size: 3rem;
          color: $strong-cyan;
        }
      }
      button {
        display: inline-block;
        // margin-top: 4rem;
        // margin-bottom: 2rem;
        width: 100%;
        border: none;
        background-color: $strong-cyan;
        font-family: $space-mono;
        padding: 1.5rem 0;
        border-radius: 3px;
        color: $very-dark-cyan;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}

// Functionality-related styles
.selected-tip {
  background-color: $strong-cyan;
  color: $very-dark-cyan;
}

// Footer
footer {
  padding: 1.9rem;
  font-size: 2rem;
  text-align: center;
  background-color: $very-dark-cyan;
  color: #fff;
  font-family: $space-mono;
  a {
    color: inherit;
    cursor: pointer;
  }
  .fa-github {
    font-size: inherit;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
}
