@import 'config';
// Desktop-first styles
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
html {
  // footer support
  // position: relative;
  // min-height: 100%;
}
body {
  background-color: $light-grayish-cyan;
  // footer support
  // margin-bottom: 100px;
}
body > div {
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: $space-mono;
  font-weight: 700;
}
.overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75rem;
  &__heading {
    margin-bottom: 4rem;
    display: inline-block;
    width: 9rem;
    text-align: center;
    word-wrap: break-word;

    line-height: 4rem;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    color: $dark-grayish-cyan;
  }
  main {
    display: flex;
    background-color: $white;
    border-radius: 12px;
    height: 35rem;
    .main__first {
      padding: 1rem 2rem;
      display: flex;
      width: 50%;
      flex-direction: column;
      justify-content: space-around;
      &__container {
        &__btns-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          // gap: 1rem 5%;
          gap: 1rem 2rem;
          button {
            border: none;
            font-family: $space-mono;
            padding: 0.8rem 0;
            color: $very-light-grayish-cyan;
            background-color: $very-dark-cyan;
            border-radius: 3px;
          }
          button:active,
          .active {
            background-color: $strong-cyan;
            color: $very-dark-cyan;
          }
        }
        .custom {
          background-color: $very-light-grayish-cyan;
          color: $dark-grayish-cyan;
          font-size: 1.2rem;
          text-align: right;
        }
      }
      &__label {
        display: block;

        color: $dark-grayish-cyan;
        font-size: 1.4rem;
        margin-bottom: 0.2rem;
      }
      input {
        width: 100%;
        outline: none;
        // outline: 1px solid red;
        border: none;
        background-color: $very-light-grayish-cyan;
        padding: 1rem;
        font-family: $space-mono;
        text-align: right;
      }
    }
  }
  .main__second {
    border-radius: 12px;
    margin: 1.8rem;
    padding: 2rem;
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $very-dark-cyan;
    &__container {
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 5rem;
      color: $very-light-grayish-cyan;
      .tip-info-box {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        p:nth-of-type(1) {
          font-size: 2rem;
        }
        p:nth-of-type(2) {
          color: $dark-grayish-cyan;
          font-size: 1.2rem;
        }
      }
      .tip-amount-and-total {
        height: 100%;
        font-size: 3rem;
        color: $strong-cyan;
      }
    }
    button {
      display: inline-block;
      // margin-top: 4rem;
      // margin-bottom: 2rem;
      width: 100%;
      border: none;
      background-color: $strong-cyan;
      font-family: $space-mono;
      padding: 1.5rem 0;
      border-radius: 3px;
      color: $very-dark-cyan;
      font-weight: 700;
      cursor: pointer;
    }
  }
}

// Footer
footer {
  padding: 1.9rem;
  font-size: 2rem;
  text-align: center;
  background-color: $very-dark-cyan;
  color: #fff;
  font-family: $space-mono;
  // footer at bottom of page
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  a {
    color: inherit;
    cursor: pointer;
  }
  .fa-github {
    font-size: inherit;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
}

// Media queries for smaller screens
@media (max-width: 800px) {
  body > div {
    display: flex;
    justify-content: center;
    max-width: 450px;
    margin: auto;
    // align-items: center;
    // border: 1px solid red;
  }
  .overall {
    border: 1px solid red;
    width: 100%;
    &__heading {
      outline: 1px solid red;
      line-height: 4.5rem;
      letter-spacing: 0.8rem;
      width: 12rem;
      margin-bottom: 5rem;
    }
    main {
      outline: 1px solid red;
      height: auto;
      flex-direction: column;
      align-items: center;

      .main__first {
        // outline: 5px solid red;
        width: 85%;
        padding: 0;
        padding: 2.5rem 0;
        &__container {
          // outline: 10px solid red;
          margin-bottom: 4rem;
          &__btns-container {
            // outline: 5px solid red;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            button {
              outline: 1px solid red;
              padding: 1.3rem;
              font-size: 2.5rem;
              font-weight: 700;
              border-radius: 5px;
            }
            .custom {
              font-size: 3rem;
            }
          }
          &__label {
            font-size: 2rem;
            margin-bottom: 1rem;
          }
          input {
            outline: 1px solid red;
            font-size: 2.5rem;
          }
        }
      }
      .main__second {
        width: 85%;
        margin: 0;
        // outline: 1px solid red;
        margin-bottom: 2.5rem;
        padding: 0;
        padding: 4rem 2.5rem 2.5rem 2.5rem;
        &__container {
          // outline: 1px solid red;
          // margin: 0;
        }
        button {
          margin-top: 3rem;
          font-size: 2.5rem;
          border-radius: 5px;
        }
      }
    }
  }
}
/// Add support for footer
